<h1>About CSU ScholarWorks</h1>

<p>ScholarWorks is a shared institutional repository that collects, preserves, and provides access to scholarship by research communities at The California State University. Collections include CSU faculty publications, student dissertations and theses, datasets, and teaching materials.</p>

<h2>System migration project</h2>

<p>We're currently in the process of migrating data and files from our old system to this new platform.  We expect that migration project will be complete by the end of Summer 2020.  More information about the project can be found on our <a href="https://calstate.atlassian.net/wiki/spaces/SCHOL/overview">project website</a>.</p>

<h2>Contact us</h2>

<%= render "contact" %>
