<p>If you have any questions or issues, please contact your campus below.</p>

<table class="csu-contacts">
  <tr>
    <th>Campus</th>
    <th>Email contact</th>
  </tr>
  <tr>
    <td>Bakersfield</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="https://library.csuci.edu/collections/">Channel Islands</a></td>
    <td><a href="mailto:elizabeth.blackwood@csuci.edu">elizabeth.blackwood@csuci.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://library.csuchico.edu/scholarworks">Chico</a></td>
    <td><a href="mailto:scholarworks@csuchico.edu">scholarworks@csuchico.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://www.csudh.edu/library/">Dominguez Hills</a></td>
    <td><a href="mailto:scholarworks@csudh.edu">scholarworks@csudh.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://library.csueastbay.edu">East Bay</a></td>
    <td><a href="mailto:libhelp@csueastbay.edu">libhelp@csueastbay.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://library.fresnostate.edu/find/digital-repository">Fresno</a></td>
    <td><a href="mailto:rgjoshe@mail.fresnostate.edu">rgjoshe@mail.fresnostate.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://library.fullerton.edu">Fullerton</a></td>
    <td><a href="mailto:mbilby@fullerton.edu">mbilby@fullerton.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://library.humboldt.edu/">Humboldt</a></td>
    <td><a href="mailto:kyle.morgan@humboldt.edu.">kyle.morgan@humboldt.edu</a></td>
  </tr>
  <tr>
    <td>Long Beach</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://www.calstatela.edu/library">Los Angeles</a></td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://library.csum.edu/home">Maritime Academy</a></td>
    <td><a href="mailto:library@csum.edu?subject=Scholarworks%20Feedback">library@csum.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://www.mlml.calstate.edu/library/">Moss Landing</a></td>
    <td><a href="mailto:library@mlml.calstate.edu">library@mlml.calstate.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://library.csun.edu/scholarworks">Northridge</a></td>
    <td><a href="mailto:scholarworks@csun.edu">scholarworks@csun.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://www.cpp.edu/~broncoscholar/about.html">Pomona</a></td>
    <td><a href="mailto:broncoscholar@cpp.edu">broncoscholar@cpp.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://library.csus.edu/publishing-and-scholarship-support/scholarworks">Sacramento</a></td>
    <td><a href="mailto:lib-scholars@csus.edu">lib-scholars@csus.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://library.sfsu.edu/digital-scholarship-center">San Francisco</a></td>
    <td><a href="mailto:dsc-lib@sfsu.edu">dsc-lib@sfsu.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://biblio.csusm.edu/guides/scholarly-communication#tab-1-5">San Marcos</a></td>
    <td><a href="mailto:scholarworks@csusm.edu">scholarworks@csusm.edu</a></td>
  </tr>
  <tr>
    <td><a href="http://library.sonoma.edu/research/scholarworks">Sonoma</a></td>
    <td><a href="mailto:premo@sonoma.edu">premo@sonoma.edu</a></td>
  </tr>
  <tr>
    <td><a href="https://library.csustan.edu/">Stanislaus</a></td>
    <td><a href="mailto:StanislausScholarWorks@library.csustan.edu">stanislausscholarworks@library.csustan.edu</a></td>
  </tr>
</table>
