option_settings:
  - option_name: FCREPO_PATH
    value: [INSERT REPO NAME]
  - option_name: FCREPO_URL
    value: http://ec2-34-208-67-82.us-west-2.compute.amazonaws.com:8080/fcrepo
  - option_name: SECRET_KEY_BASE
    value: [INSERT SECRET KEY]
  - option_name: SOLR_URL
    value: http://ec2-34-210-28-127.us-west-2.compute.amazonaws.com:8983/solr/csu-demo
  - option_name: EFS_REGION
    value: us-west-2
  - option_name: EFS_MOUNT_DIR
    value: /data
  - option_name: EFS_VOLUME_ID
    value: fs-965a8d3f
  - option_name: DATABASE_URL
    value: postgres://hydra.ckvl3s6r0raq.us-west-2.rds.amazonaws.com
  - option_name: DATABASE
    value: [INSERT DATABASE]
  - option_name: DATABASE_USER
    value: [INSERT DATABASE USER]
  - option_name: DATABASE_PASSWORD
    value: [INSERT DATABASE PASSWORD]
  - option_name: DATA_PATH
    value: [INSERT DATA PATH]
  - option_name: RAILS_SKIP_MIGRATIONS
    value: true
  - namespace: 'aws:autoscaling:launchconfiguration'
    option_name: InstanceType
    value: 't2.small'
